# Node modules
node_modules/

# 打包产物
dist/
build/

# 环境变量
.env
.env.local
.env.*.local

# 编辑器和系统文件
.DS_Store
.idea/
.vscode/
*.log
*.tmp
*.swp

# npm / pnpm / yarn
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE 缓存
*.iml
